body{
   
   margin: 0; 

}
nav{
   background-color:rgb(206, 108, 28);
   height: 175px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 50px;
   border: solid black 2px;
}

.logokiai > img{
   height: 125px;
}

.nomeaolado{
    font-size: small;
   
}

input{
   border-color: white;
   border-radius: 20px;
   height: 30px;
}

.links{
   display: flex;
   gap: 350px;

}
.links > a{
   font-size: larger;
   text-decoration: none;
   color: black;
}

.dropdown{
   background-color:white;
   color: black;
   border: 1.5px solid black;
   font-size:x-small;
   border-radius: 5px;
   padding: 7px;

   > div{
      background-color: white;
      position: absolute;
      flex-direction: column;
      display: none;
      font-size: medium;
      border-radius: 5px;
      border: 1.5px solid black;
      padding: 7px;
   
      
   }

}
.dropdown:hover > div{
   display: flex;
   

   
   
   
} 
.logo{
   display: flex;
   gap: 10px;
   align-items: center;
}

main{
   border: 1px solid blue;
   padding: 30px 120px;
}

.quemsomos{
   
   width: 40%;
   border: 1px ;
   
}
.quemsomos > h1{
   justify-content: center;
   text-align: center;
}