body{
   
   margin: 0; 

}
nav{
   background-color:rgb(206, 108, 28);
   height: 175px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 50px;
 
}

.logokiai > img{
   height: 125px;
}

.nomeaolado{
    font-size: small;
}

input{
   border-color: white;
   border-radius: 20px;
   height: 30px;
}
.links{
   display: flex;
   gap: 350px ;
   align-items: center;
   font-size: larger;
   
   
}

.dropdown{
   background-color:white;
   border: solid black;
   border-radius: 10px;
   font-size:x-small;

   > div{
      background-color: white;
      position: absolute;
      flex-direction: column;
      display: none;
      font-size: medium;
      border-radius: 10px;
      border: solid black;
      padding: 10px;
      
   }

}
.dropdown:hover > div{
   display: flex;
   

   
   
   
} 
.logo{
   display: flex;
   gap: 10px;
   align-items: center;
}
